{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="heading">Create Event</h2>
            <hr>
        </div>
    </div>
    
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row"> 
            <div class="col">
                <form action="{% url 'create_event' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ event_form|crispy }}
                    <button class="cta">Create Event</button>
                </form>
            <div class="spacer-lrg"></div>
            </div>
        </div>
    </div>
      

{% endblock %}