{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="jumbotron hero d-flex flex-column">
        <h1 class="title">Our Space</h1>
        <p>We are lucky to have such a beautiful event space for us to hold!</p>
        <p></p>
        <p>Remember there is free shipping on all orders of ${{ free_shipping_threshold}}!</p>
        <p>
            <a class="btn btn-outline-primary cta" href="#" role="button">Learn more</a>
        </p>
    </div>
{% endblock %}