{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="heading">Our Space</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
            <img src="/media/yoga-studio.jpg" alt="Yoga studio">
            </div>
            <div class="col-4 margin-auto">
                <h1 class="heading">Our Studio</h1>
                <p>We are lucky to have such a beautiful event space for us to hold!</p>
                <p>Stop by any time to visit, we are located in the leafy area of Dartry, Dublin.</p>
                <p>We always have different classes and events on, if you'd like more information click the below link!</p>
                <div class="spacer"></div>
                <p class="cta text-center">upcoming events</p>
            </div>
        </div>
        <div class="spacer-lrg"></div>
    </div>    
    


   
{% endblock %}