{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="jumbotron hero">
        <h1 class="title">Introducing Yoga with Laura</h1>
        <p>Yoga has always been a passion of mine, and I'm excited to share my journey (so far)!</p>
        <p>
            <a class="btn btn-outline-primary cta" href="#" role="button">Learn more</a>
        </p>
    </div>
{% endblock %}