{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div id="banner" class="d-flex justify-content-center">
        <h3 class="alert">Free Delivery on orders over €{{ free_shipping_threshold}}!</h3>
    </div>

    <div class="jumbotron hero d-flex flex-column justify-content-center">
    </div>
    

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="{{ MEDIA_URL }}backbend.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="heading-lrg display-4">Our Winter Collection</h2>
                        <div class="d-flex">
                            <span class="dot text-center"></span>
                            <span class="dot text-center"></span>
                            <span class="dot text-center"></span>
                        </div>
                        <div class="spacer"></div>
                        <p>Take a look at our newest products. Why not treat yourself?</p>
                        <div class="spacer"></div>
                        <a class="cta" href="{% url 'products' %}?category=accessories,clothing">Shop now</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
            <div class="p-5">
                <img class="img-fluid rounded-circle" src="{{ MEDIA_URL }}studio-pose.png" alt="">
            </div>
            </div>
            <div class="col-lg-6 order-lg-1">
            <div class="p-5">
                <h2 class="heading-lrg display-4">Our Space</h2>
                <div class="d-flex">
                    <span class="dot text-center"></span>
                    <span class="dot text-center"></span>
                    <span class="dot text-center"></span>
                </div>
                <div class="spacer"></div>
                <p>Come practice with us! Take some time to see our beautiful space.</p>
                <div class="spacer"></div>
                <a class="cta" href="{% url 'event_space' %}">Find out more</a>
            </div>
            
            </div>
        </div>
        </div>
        <div class="spacer"></div>
    </section>

    <section id="blog-intro">
        <div class="spacer-lrg"></div>
        <div>
            <h2 class="heading-lrg text-center">Our Blog</h2>
            <div class="d-flex justify-content-center">
                <span class="dot text-center"></span>
                <span class="dot text-center"></span>
                <span class="dot text-center"></span>
            </div>
        </div>
        
        <div class="row posts d-flex justify-content-center">
            {% for post in posts %}
            <div class="card card-small">
                <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h2 class="heading"><a href="{% url 'detail' slug=post.slug %}">{{ post.title }}</a></h2>
                    <p class="card-text">{{ post.date }}</p>
                    <p class="card-text">{{ post.intro }}</p>
                    <a href="{% url 'detail' slug=post.slug %}" class="cta">Read More</a>
                </div>
            </div>  
            {% endfor %}
        </div>
        <div class="spacer-lrg"></div>
    </section>

</div>
        
{% endblock %}