@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

:root {
    --primary-color: #a79976;
}

/* General styles */


h1 {
    text-transform: uppercase;
}

h2 {
    font-size: 1.2rem;
}

a {
    color: var(---primary-color);
}

a:hover {
    text-decoration: none;
    color: #a6a9b6;
}

.update-quantity {
    cursor: pointer;
}

.spacer {
    height: 1.5rem;
}

.no-padding {
    padding: 0;
}

.line {
    border-bottom: 1px solid #363636;
    width: 5%;
}

.padding-left {
    padding-left: 5px;
}

.margin-top {
    margin-top: 0.5rem;
}

.heading {
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1.7px;
    color: #2d2d2d;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 1rem;
}

.heading-lrg {
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 1.7px;
    color: #2d2d2d;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 1rem;
}

.heading-sml {
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 1.7px;
    color: #2d2d2d;
    text-transform: uppercase;
    text-decoration: none;
}

.cta {
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 1.7px;
    color: #2d2d2d;
    height: 30px;
    border-radius: 15px;
    padding: 9px 15px;
    border: 0;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #eee;
    margin: 5px;
}

.cta:hover {
    color: #eee;
    background-color: var(--primary-color);
    text-decoration: none;
}

.small-cta {
    font-size: 0.6rem;
    font-weight: 900;
    letter-spacing: 1.7px;
    color: #2d2d2d;
    height: 30px;
    border-radius: 15px;
    padding: 9px 15px;
    border: 0;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #eee;
    margin: 5px;
}

.small-cta:hover {
    color: #eee !important;
    background-color: #2d2d2d;
    text-decoration: none;
}

.spacer-lrg {
    height: 2rem;
}

.dot {
  height: 0.7rem;
  width: 0.7rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  margin: 0.5rem;
}

/* Home page */

#logo {
    width: 6rem;
    margin-top: 1.5rem;
}

.card-home {
    width: 25rem;
    margin: 0.8rem;
}

#banner {
    height: fit-content;
    background-color: #a79976;
    text-align: center;
    margin: 0;
    padding: 5px;
}

.alert {
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1.7px;
    color: #2d2d2d;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    padding: 5px;
    color: #000000;
}

.hero {
    background-image: url(/media/header-yoga.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    min-height: 50vh;
    padding-left: 5%;
}

.icon {
    color:var(--primary-color);
}

.white {
    color: #fff;
}

.cta-dark {
    text-transform: uppercase;
    color: #363636;
    border-color: #363636;
}

.home-section {
    min-height: 50vh;
    padding-left: 5%;
    background-color: grey;
}

/* Nav bar */

#nav {
    text-transform: uppercase;
    color: #363636;
    font-weight: bold;
    margin-top: 1.5rem;
}

#search {
    color: var(--primary-color);
    border-color: #ced4da;
}

#search:hover {
    color: #fff;
    background-color: var(--primary-color);
}




/* Product page */
#product-cards {
    justify-content: space-between;
}

.card-small {
    width: 18rem;
    margin: 0.8rem;
}

.card-product {
    height: 190px;
}

.nav-item {
    list-style: none;
}

.tag {
    font-size: 0.9rem;
}

.tag-icon {
    padding-right: 5px;
}

.tag-container {
    color: var(--primary-color);
}

.category-btn {
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 1.7px;
    color: #2d2d2d;
    height: 30px;
    border-radius: 15px;
    padding: 9px 15px;
    border: 0;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #eee;
    margin: 5px;
}

.category-btn:hover {
    color: #eee;
    background-color: #2d2d2d;
    text-decoration: none;
}

/* product detail page */

.center-stack {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.prod-detail {
    display: block;
    width: 100%;
}

/* Search bar */

.search-input {
    height: 3rem;
    width: 0;
    outline: none;
    padding-left: 10px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 15px;
    transition: all .2s;
    z-index: -1;
}

.search-icon {
    height: 3rem;
    width: 3rem;
    background: var(--primary-color);
    border-radius: 50%;
    font-size: 1.8em;
    color: #fff;
    cursor: pointer;
}

.active {
    width: fit-content;
}

.icon-size {
   width: 1.2rem;
}

/* Studio Page */

.studio-img {
    max-width: 100%;
}

/* Stripe */

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/* Checkout */ 

.checkout-table {
    min-width: 35vw;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    padding-right: 1rem;
}


/* Profile */

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

/* Blog post */

.post-img {
    max-width: 100%;
}

.post-text, .margin-auto {
    margin: auto;
}

 #blog-cards {
    justify-content: space-between;
 }

/* Events */

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-event { 
    width: 100%;
    height: 100%;
}

/* Footer */

#footer {
    border-top: solid 1px #212529;
}

.icon-footer {
    padding-right: 5px;
    color: var(--primary-color);
}

.footer-social-links{
    font-size: 14px;
    text-align: center;
}

.footer-social-links a{
    width: 25px;
    height: 25px;
    line-height: 25px !important;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: var(--primary-color);
}
.footer-social-links a i,
.footer-social-links a span{
    position: relative;
    top: 2px;
    left: 1px; 
}
.footer-social-links a:before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid var(--primary-color);
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    
}

.footer-social-links a:hover{
    color: #fff;
}

.footer-social-links a:hover:before{
    background: #111;
}

@media only screen and (max-width: 1000px) {
  .footer-links {
    display: none;
  }
}

/* Contact Us */

#map {
    width: 100%;
    height: 35vh;
}

/* Media Queries */

@media only screen and (min-width: 992px) {
  #search-form {
      margin-left: 0.8rem;
      margin-bottom: 1rem !important;
  }
}


@media only screen and (max-width: 768px) {
  #product-cards, #blog-cards {
      justify-content: center;
  }

  #product-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

}

@media only screen and (max-width: 680px) {
    #header-section {
        padding: 0 2rem;
    }
}



