
body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: #583d72;
}

/* General styles */

#logo {
    height: 10rem;
}

h1 {
    text-transform: uppercase;
}

h2 {
    font-size: 1.2rem;
}

.line {
    border-bottom: 1px solid #363636;
    width: 5%;
}

a {
    color: var(---primary-color);
}

a:hover {
    text-decoration: none;
    color: #a6a9b6;
}

/* Home page */

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/media/yoga-mat-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    min-height: 60vh;
    padding-left: 5%;
}

.cta {
    text-transform: uppercase;
    color: #fff;
    border-color: #fff;
}

.cta-dark {
    text-transform: uppercase;
    color: #363636;
    border-color: #363636;
}

/* Nav bar */

#nav {
    text-transform: uppercase;
    color: #363636;
    font-weight: bold;
}

/* Product page */

.card {
    width: 18rem;
    margin: 1rem;
}

.nav-item {
    list-style: none;
}

.tag {
    font-size: 0.9rem;
}

.tag-icon {
    padding-right: 5px;
}

.tag-container {
    color: var(--primary-color);
}

.category-btn {
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1.7px;
    color: #2d2d2d;
    line-height: 12px;
    height: 30px;
    border-radius: 15px;
    padding: 9px 15px;
    border: 0;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #eee;
    margin: 5px;
}

.category-btn:hover {
    color: #eee;
    background-color: #2d2d2d;
    text-decoration: none;
}

#product-count {
    margin-top: 0.8rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1.7px;
    text-decoration: none;
}


x
/* product detail page */

.center-stack {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.prod-detail {
    display: block;
    width: 100%;
}
