
body {
    font-family: 'Montserrat', sans-serif;
}



/* General styles */

#logo {
    height: 10rem;
}

h1 {
    text-transform: uppercase;

}

h2 {
    font-size: 1.2rem;
}

.line {
    border-bottom: 1px solid #363636;
    width: 5%;
}

/* Home page */

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/media/yoga-mat-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    min-height: 60vh;
    padding-left: 5%;
}

.cta {
    text-transform: uppercase;
    color: #fff;
    border-color: #fff;
}

.cta-dark {
    text-transform: uppercase;
    color: #363636;
    border-color: #363636;
}

/* Nav bar */

#nav {
    text-transform: uppercase;
    color: #363636;
    font-weight: bold;
}

/* Product page */

.card {
    width: 18rem;
    margin: 1rem;
}

/* product detail page */

.center-stack {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.prod-detail {
    display: block;
    width: 100%;
}
