<nav class="navbar navbar-expand-lg navbar-light sticky" id="nav">
    <button class="navbar-toggler cta" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav navbar-center heading">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'products' %}?category=accessories,clothing" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item heading" href="{% url 'products' %}?category=accessories,clothing">All Products</a>
                    <a class="dropdown-item heading" href="{% url 'products' %}?category=accessories">Accessories</a>
                    <a class="dropdown-item heading" href="{% url 'products' %}?category=clothing">Clothing</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link mobile-hide" href="{% url 'blog_home' %}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mobile-hide" href="{% url 'events' %}">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mobile-hide" href="{% url 'event_space' %}">Studio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
            </li>
        </ul>
        <form id="search-form" class="form-inline my-2 my-lg-0" method="GET" action="{% url 'products' %}">
            <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search our products" aria-label="Search">
            <button id="search" class="heading btn my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</nav>