<nav class="navbar navbar-expand-lg navbar-light sticky" id="nav">
    <a class="navbar-toggler cta" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
    aria-label="Toggle navigation" aria-label="Toggle navbar">
        <span class="navbar-toggler-icon"></span>
    </a>
    <div class="collapse navbar-collapse flex-container" id="navbarNav">
        <ul class="navbar-nav navbar-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Book
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Classes</a>
                <a class="dropdown-item" href="#">Workshops</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Yoga Mats</a>
                <a class="dropdown-item" href="#">Clothing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mobile-hide" href="#history">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mobile-hide" href="#gallery-pub">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact-us">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>