{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}s
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="heading">Lola Yoga Blog</h2>
            <hr>
        </div>
    </div>

        <div class="row posts d-flex justify-content-between">
            {% for post in posts %}
            <div class="card card-small">
                <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h2 class="heading"><a href="{% url 'detail' slug=post.slug %}">{{ post.title }}</a></h2>
                    <p class="card-text">{{ post.date }}</p>
                    <p class="card-text">{{ post.intro }}</p>
                    <a href="{% url 'detail' slug=post.slug %}" class="cta">Read More</a>
                 </div>
            </div>
            {% endfor %}
        </div>
    </div>


    



</div>
{% endblock %}