{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="heading">Contact us</h2>
            <hr>
        </div>
    </div>
    
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row"> 
            <div class="col">
                <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                {{ contact_form|crispy }}
                <button class="cta">Update Details</button>
            </form>
            <div class="spacer-lrg"></div>
            </div>
        </div>
    </div>
        
      

{% endblock %}