{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="product-container" class="container">
    <div class="row d-flex justify-content-between heading-sml">
        <div class="col-sm-11">
            <p>
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                <a href="{% url 'products' %}">All Products</a> |
                {% endif %}
                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
        <div class="col-sm-1">
            <li class="nav-item dropdown sort">
                <a class="dropdown-toggle sort-btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item heading-sml" href="{% url 'products' %}?sort=price&direction=asc">By Price</a>
                    <a class="dropdown-item heading-sml" href="{% url 'products' %}?sort=category&direction=asc">By Category</a>
                </div>
            </li>
        </div>
    </div>

    <div class="row">
        <div id="product-cards" class="row d-flex">
            {% for product in products %}
            <div class="card card-small">
                <img class="card-img-top card-product" src="{{ product.image.url }}" alt="{{ product.name }}">
                <div class="card-body d-flex flex-column align-content-around">
                    <a href="{% url 'product_info' product.id %}">
                        <h2 class="card-title heading">{{ product.name }}</h2>
                    </a>
                    <h2 class="heading">€{{ product.price }}</h2>

                    {% if product.category %}
                    <p class="tag-container">
                        <a class="tag" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tags tag-icon"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}

                    <a href="{% url 'product_info' product.id %}" class="cta text-center">View More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="spacer-lrg"></div>
</div>

{% endblock %}