{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-xs-6">
                <h1>Shop</h1>
                <div class="line"></div>
            </div>
            <div class="col-xs-6">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a>
                        <a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a>
                    </div>
                </li>
            </div>
            <div class="col-sm-12">
                {% for c in current_categories %}
                    <a class="category-btn" href="{% url 'products' %}?category={{ c.name }}">
                        <span class="category-name">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    

    
        <div class="row">
        {% for product in products %}
            <div class="card">
                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                <div class="card-body">
                    <a href="{% url 'product_info' product.id %}"><h2 class="card-title">{{ product.name }}</h2></a>
                    <h2>€{{ product.price }}</h2>
                    <a href="#" class="btn btn-primary">Add to bag</a>
                    {% if product.category %}
                        <p class="tag-container">
                            <a class="tag" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tags tag-icon"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}