{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Shop</h1>
                <div class="line"></div>
            </div>
        </div>

    
        <div class="row">
        {% for product in products %}
            <div class="card">
                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                <div class="card-body">
                    <h2 class="card-title">{{ product.name }}</h2>
                    <h2>€{{ product.price }}</h2>
                    
                    <a href="#" class="btn btn-primary">Add to bag</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}